.boxStyle {
  border: 2px solid #ccc;
  padding: 10px;
  height: 100px;
  width: 300px;
  overflow-y: auto;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.messageStyle {
  text-align: center;
  margin-top: 5px;
  line-height: 1;
}

.paraStyle {
  margin: 5px 0;
  color: red;
  font-weight: bold;
}
