/* Alert Box CSS */
.boxStyle {
  border: 2px solid #ccc;
  padding: 10px;
  height: 100px;
  width: 300px;
  overflow-y: auto;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.messageStyle {
  text-align: center;
  margin-top: 5px;
  line-height: 1;
}

.paraStyle {
  margin: 5px 0;
  color: red;
  font-weight: bold;
}

/* CSS for calculator */

.calculator {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.display {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

button {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #e0e0e0;
}

.history {
  display: flex;
  margin-top: 20px;
}

.history h2 {
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/*  */
